/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  	font-family: 'Helvetica Neue', Arial, sans-serif;
	overflow-y:scroll;
}
.row-fluid .span4 {
	width: 30%;
}
.skill-list{
	.icon-chevron-down{
		position: relative;
		top: 12px;
	}
}
.collapsed .icon-chevron-down{
	background-position: -432px -72px;
}