<div id="app-div" class="row-fluid">
	<div id="skills-div" class="span3">
		<h3>Skills</h3>
	    {{ render "skills" }}
	</div>
	<div id="jobs-div" class="span9">
		<h3>Jobs</h3>
		{{ partial "jobsthumbs"}}
	</div>
</div>