<div class="jobthumb thumbnail">
	{{#linkTo "job" view.controller}}<img {{bindAttr alt="view.controller.title" title="view.controller.title" src="view.controller.pictureThumb"}}>{{/linkTo}}
	<div class="caption">
		<h3><span>{{view.controller.title}}</span></h3>
		<p>{{view.controller.description}}</p>
		<p>{{#linkTo "job" view.controller class="btn btn-primary"}}View Details{{/linkTo}}</p>
	</div>
</div>