<div class="hero-unit">
  <h1>Welcome to Skills Explorer</h1>
  <p>Where you can generate a CV matched to your requirements.<p>
  <p>
	{{#linkTo "jobs" class="btn btn-primary btn-large" }}Let's get started{{/linkTo}}
  </p>
</div>